// Colour variables
@base: #663333;
@deepbase: spin(@base, 180);
@lighter1: lighten(@deepbase, 10%);
@lighter2: lighten(@deepbase, 20%);
@darker1: darken(@deepbase, 10%);
@darker2: darken(@deepbase, 20%);

// Some more colours
@colorpink: pink;

// Implementation
html {
  position: relative;
}
.one, .two, .three, .four, .five {
  height: 300px;
  width: 20%;
  float: left;
}
.one   {
  background-color: @deepbase;
}
.two   {
  background-color: @lighter1;
}
.three {
  background-color: @lighter2;
}
.four  {
  background-color: @darker1;
}
.five  {
  background-color: @darker2;
}
h1 {
  color: @lighter1;
}
p {
  color: @deepbase;
}
.overlay {
  background-color: fade(@lighter1, 40%);
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
}
